{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "react",
    "react-hooks"
  ],
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "paths": [
          "."
        ]
      }
    }
  },
  "env": {
    "jest": true
  },
  "rules": {
    "react/jsx-indent-props": [
      "error",
      "first"
    ],
    "indent": [
      "error",
      2,
      {
        "ignoredNodes": [
          "JSXAttribute"
        ]
      }
    ]
  }
}
